div.left-content {
    width: 50%;
    box-sizing: border-box;
    height: 85vh;
}

div.content {
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

div.content h2 {
    color: var(--red-salsa);
    text-shadow: 4px 1px 2px black;
    margin-top: 10vh;
    margin-bottom: 20px;
    letter-spacing: 3px;
    margin-left: 70px;
    font-size: 1.2rem;
}

div.content h2 p {
    color: var(--max-red);
    text-shadow: 4px 1px 2px black;
}

.container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.title-left {
    margin-bottom: 20px;
}

@media screen and (max-width: 240px) {
    div.content h2 {
        color: var(--red-salsa);
        text-shadow: 1px 1px 2px black;
        margin-top: 2vh;
        margin-bottom: 20px;
        letter-spacing: 3px;
        margin-left: 20px;
        font-size: 0.9rem;
    }
    .title-left {
        margin-bottom: 20px;
        margin-left: -10px;
    }    
}

@media screen and (max-width: 450px) and (min-width: 168px)  {
    div.content h2 {
        color: var(--red-salsa);
        text-shadow: 1px 1px 2px black;
        margin-top: 2vh;
        margin-bottom: 20px;
        letter-spacing: 3px;
        margin-left: 20px;
        font-size: 0.8rem;
    }
    .title-left {
        margin-bottom: 20px;
        margin-left: -9px;
    }    
}

.right-content {
    float: right;
    width: 40%;
    height: 70%;
    overflow: hidden;
    clear: both;
    margin-top: -480px;
    margin-right: 100px;
}

.box-msg {
    color: var(--max-red);
    text-transform: uppercase;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px black;
}

div > p {
    text-align: center;
}

/* media querie right side */

@media screen and (max-width: 668px) {
    .box-msg {
        color: var(--max-red);
        text-transform: uppercase;
        font-size: 0.9rem;
        text-shadow: 1px 1px 2px black;
    }


    .right-content {
    float: right;
    width: 40%;
    height: 70%;
    overflow: hidden;
    clear: both;
    margin-top: -480px;
    margin-right: 30px;
    }

    #btn-email{
        width: 100px;
        margin-left: 50px;
        margin-top: 40px;
    }

    #middle-footer {
        text-align: center;
        color: var(--max-red);
        margin-top: 10px;
        margin-left: 50px
    }
    
}

@media screen and (max-width: 1200px) and (min-width: 669px) {
    .box-msg {
        color: var(--max-red);
        text-transform: uppercase;
        font-size: 0.9rem;
        text-shadow: 1px 1px 2px black;
    }


    .right-content {
    float: right;
    width: 45%;
    height: 70%;
    overflow: hidden;
    clear: both;
    margin-top: -480px;
    margin-right: 10px;
    }

    #btn-email{
        width: 200px;
        margin-left: 80px;
        margin-top: 60px;
    }

    #middle-footer {
        text-align: center;
        color: var(--max-red);
        margin-top: 10px;
        margin-left: 50px
    }
}