.card {
    position: relative;
    width: 320px;
    height: 55vh;
    background: rgb(223, 84, 84);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(94, 8, 8) 0px 0px 0px 3px;
}

.card::before {
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: black;
    transform: skewY(345deg);
    transition: 0.3s;
}

.card:hover::before {
    top: -50%;
    transform: skewY(376deg);
}

.card .XboxOne::after {
    letter-spacing: -10px;
    white-space: 3px;
    white-space: nowrap;
    content: 'Xbox One';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 4em;
    color: rgba(252, 13, 13, 0.2);
    margin-top: -20px;
}

.card .Ps5::after {
    letter-spacing: -10px;
    white-space: 3px;
    white-space: nowrap;
    content: 'Playstation 5';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 4em;
    color: rgba(252, 13, 13, 0.2);
    margin-top: -20px;
}

.card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    padding-top: 40px;
    z-index: 1;
}

.card .imgBox .Ps5Img {
    max-width: 100%;
    transition: 0.3s;
}

.card .imgBox .XboxImg {
    max-width: 100%;
    transition: 0.3s;
}

.card:hover .imgBox .XboxImg {
    transform: scale(0.8); 
}

.card:hover .imgBox .Ps5Img {
    transform: scale(0.8); 
}

.productName {
    display: flex;
    justify-content: center;
}

.imgBox, .price {
    display: flex;
    justify-content: center;
}

.productName, .price {
    color: black;
}

.productName {
    font-size: 1.3rem;
}

.nes-btn.is-error {
    color: red;
    margin-top:  20px;
    margin-left: 40px;
}

/* Card media queries*/

@media screen and (max-width: 1318px) {
   .card {
    width: 200px;
    height: 50vh;
   }
   .nes-btn.is-error {
        color: red;
        margin-top:  10px;
        margin-left: 30px;
        max-width: 70%;
    }
    .productName, .price {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 830px) and (min-width: 792px){
    .card {
        width: 25vw;
        height: 49vh;
        margin-top: -40px;

       }
       .nes-btn.is-error {
            color: red;
            margin-top:  10px;
            margin-left: 9px;
            max-width: 90%;
        }
        .productName, .price {
            font-size: 0.7em;
        }
}

@media screen and (max-width: 788px) and (min-width: 479px) {
    .card {
        max-width: 20vw;
        height: 41vh;
        margin-top: -40px;
        min-width: 18vw;
       }
       .nes-btn.is-error {
            color: red;
            margin-top:  10px;
            margin-left: 19px;
            max-width: 70%;
            font-size: 0.7rem;
            margin-top: 20px;
        }
        .productName, .price {
            font-size: 0.6em;
        }
}


@media screen and (max-width: 500px) {
    .card {
        max-width: 20vw;
        height: 41vh;
        margin-top: -40px;
        min-width: 18vw;
       }
       .nes-btn.is-error {
            color: red;
            margin-top:  10px;
            margin-left: 19px;
            max-width: 70%;
            font-size: 0.7rem;
            margin-top: 10px;
        }
        .productName, .price {
            font-size: 0.6em;
        }
}

@media screen and (max-width: 450px) and (min-width: 168px) {
    .card {
        max-width: 18vw;
        height: 35vh;
        margin-top: -40px;
        min-width: 18vw;
       }
       .nes-btn.is-error {
            color: red;
            margin-top:  10px;
            margin-left: 10px;
            max-width: 70%;
            font-size: 0.5rem;
            margin-top: 10px;
            padding: 0;
        }
        .productName, .price {
            font-size: 0.4em;
        }
}

#btn-buy {
    color: black;
}