header.header-bar {
    display: flex;
    height: 70px;
    background-color: rgba(0, 0, 0, 1);
    margin: 0;
}

header {
    box-shadow: 3px 3px 10px 2px red;
    z-index: 1000;
    width: 100%;
}

.middleTitle {
    text-align: center;
    margin-top: 15px;
    margin-left: 35%;
}

header.header-bar .header-brand .logo-img {
    width: 40px;
    height: 60px;
}

header.header-bar h3 {
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--max-red);
}

.left-logo {
    float: left;
    width: 40px;
    display: flex;
    margin-left: 100px;
    margin-top: 15px;
}

@media only screen and (max-width: 300px){
    header.header-bar h3, header.header-bar {
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 300px) {
    .middleTitle, .left-logo {
        display: flex;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 300px) {
    .middleTitle {
        margin-left: 2px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 300) { /* only when smallest than 500px*/
    .left-logo {
        margin-left: 2px;
        margin-right: 3px;
        width: 10px;
        margin-top: 30px;
    }
    header.header-bar  {
        justify-items: center;
        justify-content: center;
    }
}