footer.footer {
    background-color: black;
    height: 70px;
    box-shadow: -3px -1px 5px 2px red;
}

#middle-footer {
    text-align: center;
    color: var(--max-red);
    margin-top: 25px;
    margin-left: -100px
}

@media screen and (max-width: 600px) {

    #middle-footer {
        text-align: center;
        color: var(--max-red);
        margin-top: 14px;
        margin-left: 10px;
        font-size: 0.7rem;
    }   
}