:root {
    --bg-dark: #1A2F3A;
    --max-red: #E11414;
    --red-salsa: #EA5454;
    --light-coral: #F36868;
    --bg-transparent: transparent;

    --shadow-blur: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    --shadow-tiny: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    --shadow-moldure: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.App {
    margin: 0px;
    display: grid;
    grid-template-areas:
    "header header"
    "content right-content"
    "footer footer";
}

.right-content {
    grid-area: right-content;
}

header.header-bar {
    grid-area: header;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    grid-template-areas:
    "header"
    "content"
    "footer"
}

@media only screen and (max-width: 400px) { /* only when smallest than 500px*/
    .wrapper {
        grid-template-areas:
        "header"
        "content"
        "footer"
    }
}